
Vakken/Crossmedia/Audio/Les 4 (online)/Sound FX CM/TRAM 1.wav
Vakken/Crossmedia/Audio/Indienen/Tram Coupure.zip
Vakken/Studio digitale/Hyperfoundation/Concepten/Simon Stalenhag/Parallax.psd
Vakken/Studio digitale/Hyperfoundation/Concepten/Simon Stalenhag/Concept 1/Parallax.psd
Vakken/Crossmedia/Illu & Foto II/Les 1/Les1_Fotorestoratie.psd
Vakken/Studio digitale/Hyperfoundation/Concepten/Simon Stalenhag/Final concept/Mockup/Parallax.psd
Vakken/Crossmedia/Illu & Foto II/Les 2/Les 2/_Les 2 Adjustmentlayers en Blending/1 Pink flower.psd
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041521_C007.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041527_C008.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041535_C009.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041545_C010.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041549_C011.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041553_C012.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041609_C013.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Footage/A005_06041612_C014.braw
Vakken/Video videoverdieping/Opdrachten/Interviews/Interviewz.mp4
Vakken/Crossmedia/Illu & Foto II/Les 3/Les 3/Les 3 Adjustmentlayers en Blending 2/Black and White/2a Duotones_Start.psd
Vakken/Studio digitale/Rush De Morgen/RushDeMorgen/
/Luca-Public
Vakken/Crossmedia/Illu & Foto II/Les 4/Les 4 files/beeldmateriaal/Start.psd
Vakken/Crossmedia/Illu & Foto II/Les 4/Les 4 files/beeldmateriaal/Start.psd
Vakken/Crossmedia/Illu & Foto II/Les 4/Les 4 files/beeldmateriaal/Start.psd
/Vakken/Crossmedia/Illu & Foto II/Les 4/Les 4 files/beeldmateriaal
Vakken/Crossmedia/Illu & Foto II/Les 4/Les 4 files/beeldmateriaal/Start.psd
/Vakken/Crossmedia/Illu & Foto II/Les 5
Vakken/Crossmedia/Illu & Foto II/Les 5.zip
Vakken/Crossmedia/Illu & Foto II/Indienen/Voorblad_Verslag_opdrachten_2.0 (2).indd
Vakken/Design thinking/Concepten/ConceptBewegend/Result.mp4
Vakken/Crossmedia/Illu & Foto II/Indienen/Les 5 - opdracht/fishingBoat.psd
Vakken/Design thinking/Concepten/Animaties/Logo/animatie_5_logo.mp4
Vakken/Crossmedia/Illu & Foto II/Indienen/Opdrachten les 1- 5 Seth Van den Bossche.zip
Vakken/Crossmedia/Illu & Foto II/Indienen/Opdrachten les 1- 5 Seth Van den Bossche/Les 5 - opdracht - Seth Van den Bossche/fishingBoat.psd
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V1.mp4
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V2.mp4
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V3.mp4
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V2.mp4
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V1.mp4
Vakken/Studio digitale/Digital Space/Concepten en testen/Vormgeving/SHOWCASE/renders/V4.mp4
